@charset "utf-8";
/* @import "variables"; */
@use "variables";

/* ==============================
* 회원가입 폼
================================= */
.join {
	margin:50px auto;max-width:500px;width:100%;
	.frmTitLv1 {}
	.frmListLv1 {
		margin:0 0 20px;
		input {width:100%;}
		.hasEmail {
			display:flex;flex-flow:row;flex-wrap:wrap;
			input {width:auto;flex:1;}
			button {height:40px;margin:0 0 0 10px;}
		}
		.hasPassword {}
		.cInfo1 {
			margin:5px 0 0;
			&.pass {color:variables.$passColor1;}
			&.alert {color:variables.$alertColor1;}
			em {font-style:normal;text-decoration:underline;font-weight:700;}
		}
	}
	.frmItemLv1 {
		align-items:flex-start;align-content:flex-start;
		dt {padding:10px 0 0;}
		dd {
			.guideMsg {
				width:100%;margin:10px 0 0;
				> li {
					font-size:14px;margin:0 0 5px;
					.ico {margin:1px 2px 0 0;}
					.txt {}
					&.on {color:variables.$blue1;}
				}
			}
		}
	}
	.frmListLv2 {}
	.joinBtn {width:100%;}
}

/* ==============================
* Notice 스타일링
================================= */
.notiPkg {
	position:fixed;left:0;top:0;width:100%;height:100%;z-index:9999;background:rgba(0, 0, 0, .3);backdrop-filter:blur(5px);
	.box {
		position:fixed;right:10px;top:10px;width:400px;height:auto;border-radius:10px;background:#fff;font-size:15px;letter-spacing:-.05em;overflow:hidden;box-shadow:0 5px 5px rgba(0, 0, 0, .3);
		&:focus {outline:3px solid rgba(59, 153, 252, .5);}
		.header {
			box-sizing:border-box;padding:5px 10px;display:flex;flex-flow:row;flex-wrap:wrap;justify-content:space-between;align-items:center;
			.title {font-weight:500;color:#fff;flex:1;}
			.actionBtn {
				line-height:1;width:30px;height:30px;border:0;position:relative;background:transparent;
				&:before,
				&:after {content:"";position:absolute;top:50%;left:50%;width:16px;height:2px;background:#fff;top:0;right:0;bottom:0;left:0;margin:auto;transition:all .3s ease;}
				&:before {transform:rotate(45deg);}
				&:after {transform:rotate(-45deg);}
				&:hover,
				&:focus {
					&:before {transform:rotate(135deg);}
					&:after {transform:rotate(45deg);}
				}
			}
		}
		.contents {
			box-sizing:border-box;padding:10px;display:flex;flex-flow:row;flex-wrap:wrap;
			.message {color:#000;word-wrap:break-word;word-break:keep-all;white-space:normal;line-height:1.2;flex:1;white-space:pre-wrap;}
		}
	}
	&.successed {
		.box {
			.header{
				background:#57b95c;
				.title {}
			}
			.contents {
				background:#d1e3ce;
			}
		}
	}
	&.failed {
		.box {
			.header {
				background:#d56e6e;
				.title {}
			}
			.contents {
				background:#eddddd;
			}
		}
	}
}